/* ALIGNMENT */

h1, h3 {
  text-align: center;
}

span {
  text-align: center;
}

img, p, span, ol, ul {
  display: block;
  margin: auto;
}

img {
  margin-top: 10px;
  margin-bottom: 5px;
}

.xlist {
  width: 40%;
  margin: 0 auto;
}

.xlist-large {
  width: 60%;
  margin: 0 auto;
}

.xpara {
  width: 45%;
  margin: 0 auto;
}

#links-para {
  text-align: center;
}

/* BORDERS & PRETTINESS */

.row {
  border: 1px solid grey;
  margin-top: 3%;
}

/* ITEM-SPECIFIC ADJUSTMENTS */

#mission {
  margin-bottom: 10px;
}

#config-img {
  margin-bottom: 0;
}

#settings-img {
  margin-top: 0px;
}
