<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Gap</title>
    <link rel="stylesheet" href="../static/css/foundation.css">
    <link rel="stylesheet" href="../static/css/app.css">
  </head>


  <!-- TOP BAR -->
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
	
	<li class="menu-text">Phone Gap</li>
	<li><a href="/">Back to Front</a></li>
	<li>
          <a href="#">Go To</a>
          <ul class="menu vertical">
            <li><a href="/whyPhoneGap">Why learn Phone Gap</a></li>
            <li><a href="/howItWorks">How Phone Gap Works</a></li>
            <li><a href="/walkthrough">Walkthrough</a></li>
	    <li><a href="/compatibility">Compatibility</a></li>
	    <li><a href="/downsides">Downsides to Phone Gap</a></li>
          </ul>
	</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
	<li><input type="search" placeholder="Search"></li>
	<li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>
  <!-- END TOP BAR -->

  

  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>Phone Gap Compatibillity</h1>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="callout">
          <h3>The Nuts and Bolts</h3>
          <p></p>

	  <center>
	  <img src="../static/comp.PNG" style="width:1000px;height:430px;">
	  </center>

	  <br>
	  <br>
	  <center>
          <div class="row">
	    <div class="large-6" medium-10 colums>
	      <p>
		Phone Gap is supported for a wide array of mobile devices, allowing appication created with Phone Gap to have a tremendous impact and the abillity to reach many people
	      </p>
	    </div>
	  </div>
	  </center>
	</div>
      </div>
    </div>

    
    <hr>
    Created by Felix Rieg-Baumhauer, Misha Kotlik


    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/vendor/what-input.js"></script>
    <script src="../static/js/vendor/foundation.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
