<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Gap</title>
    <link rel="stylesheet" href="../static/css/foundation.css">
    <link rel="stylesheet" href="../static/css/app.css">
  </head>

  <!-- TOP BAR -->
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
	
	<li class="menu-text">Phone Gap</li>
	<li><a href="/">Back to Front</a></li>
	<li>
          <a href="#">Go To</a>
          <ul class="menu vertical">
            <li><a href="/whyPhoneGap">Why learn Phone Gap</a></li>
            <li><a href="/howItWorks">How Phone Gap Works</a></li>
            <li><a href="/walkthrough">Walkthrough</a></li>
	    <li><a href="/compatibility">Compatibility</a></li>
	    <li><a href="/downsides">Downsides to Phone Gap</a></li>
          </ul>
	</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
	<li><input type="search" placeholder="Search"></li>
	<li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>
  <!-- END TOP BAR -->

  

  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>Downsides to Phone Gap</h1>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="callout">
          <h3>The Nuts and Bolts</h3>
          <p>While Phone Gap is an incrediible advanced and sophisticated piece o software, there ae as with all good things some drawbacks</p>


	  <div class="row">
            <div class="large-4 medium-4 columns">
              <p>
		Immersion
		<br>
		Native languages, such as swift for ios, were created with tghe explict goal of feeling comfortable on the platform for which they were made. As such, when useing Phone Gap, some aesthetic and sensory aspects of the user experince may endup being sacrificed.
	      </p>
            </div>
            <div class="large-4 medium-4 columns">
              <p>
		Speed
		<br>
		Native, platform specific languages are often created to streamline certain processes. Therfore, when using Phone Gap, certain opperations may be substantially slower, especially as the mobile application gets more complex.
	      </p>
            </div>
            <div class="large-4 medium-4 columns">
              <p>
		APIs
		<br>
		Phone Gap requires numerous APIs and plugins to interact with the various physical aspects of a mobile device. Native languages have both easier and more efficent waysof comunicating with certain pieces of hardware.
	      </p>
            </div>
	  </div>


	  
	  <div class="row">
            <div class="large-4 medium-4 large-offset-2 columns">
	      <p>
		Graphics
		<br>
		While JS/CSS graphics can be used to simulate or display most data sets and models, most native mobile devolpment languages have special and powerful graphics models to dislay vissual images
	      </p>
            </div>
            <div class="large-4 medium-4 columns end">
              <p>
		Support
		<br>
		Not all aspects of a mobile device are supported by Phone Gap or one of the many APIs and plugins. As such, native devolpment languages are particularilly adept at dealing with compilcated hardware.
	      </p>
            </div>    
          </div>

	</div>
      </div>
    </div>

    
    <div class="row">
      <div class="large-8 medium-8 large-offset-2 columns">
	<center>
        <h5>However ...</h5>
	</center>
	
        <div class="row">
          <div class="large-12 columns">
            <div class="primary callout">
              <p>
		Despite all the potential draw backs, Phone Gap allows for devolpers to create projects easilly, quicklly turn an idea into a working prototype, and then use the Phone Gap app to scale up a project. Often Phone Gap is used to prototype projects.
	      </p>
            </div>
          </div>
	</div>
      </div>
    </div>


    <hr>
    Created by Felix Rieg-Baumhauer, Misha Kotlik
    

    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/vendor/what-input.js"></script>
    <script src="../static/js/vendor/foundation.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
