<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Gap</title>
    <link rel="stylesheet" href="../static/css/foundation.css">
    <link rel="stylesheet" href="../static/css/app.css">
  </head>

  <!-- TOP BAR -->
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
	
	<li class="menu-text">Phone Gap</li>
	<li><a href="/">Back to Front</a></li>
	<li>
          <a href="#">Go To</a>
          <ul class="menu vertical">
            <li><a href="/whyPhoneGap">Why learn Phone Gap</a></li>
            <li><a href="/howItWorks">How Phone Gap Works</a></li>
            <li><a href="/walkthrough">Walkthrough</a></li>
	    <li><a href="/compatibility">Compatibility</a></li>
	    <li><a href="/downsides">Downsides to Phone Gap</a></li>
          </ul>
	</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
	<li><input type="search" placeholder="Search"></li>
	<li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>
  <!-- END TOP BAR -->


  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>Phone Gap</h1>
      </div>
    </div>
    
    <!--
    <div>
      <img src="../static/logo.jpeg">
    </div>
    -->

    <div class="row">
      <div class="large-12 columns">
        <div class="callout">
          <h3>We&rsquo;re stoked you want to try Phone Gap </h3>
          <p>Phone Gap is a terrific tool that allows web devolpers to create mobile appliactions (ios and android), without actually needing to know the individual platform's languages</p>
          
          <div class="row">
            <div class="large-4 medium-4 columns">
              <p>
		<a href="whyPhoneGap">Why Phone Gap</a> <br>
		Learn more about why Phone Gap is the appropriate tool for your own mobile devolpment needs
	      </p>
            </div>
            <div class="large-4 medium-4 columns">
              <p>
		<a href="howItWorks">How it works</a>
		<br>
		Learn more about the the processes and procedures that allow for mobile applictions to be devolped with HTML, CSS, and JS
	      </p>
            </div>
            <div class="large-4 medium-4 columns">
              <a href="walkthrough">Walkthrough</a>
	      <br>
	      Phone Gap, while easy to use, is somewhat complicated (at least at first), to make your life easier here is a quick walkthrough
            </div>
	  </div>

	  <div class="row">
            <div class="large-4 medium-4 large-offset-2 columns">
              <p>
		<a href="compatibility">Compatibility</a> <br>
		Let's make sure that your Phone Gap projects are supported on all platforms 
	      </p>
            </div>
            <div class="large-4 medium-4 columns end">
              <p>
		<a href="downsides">Downsides to Phone Gap</a>
		<br>
		Allthough Phone Gap is a terrific tool, there are (as with everything) some downsides
	      </p>
            </div>    
          </div>

	  
	</div>
      </div>
    </div>

    <div class="row">
      <div class="large-8 medium-8 columns">
        <h5>About Phone Gap</h5>
        <!-- Grid Example -->

	<ul>
	  <li>Its open source, which means that people like you and me can have access to the product, and that the software for Phone Gap is readily available for and to all/li>
	  <li>Was recentlly bough by Adobe, they changed Phone Gap's name to Cordova (We all know which one sounds better though)</li>
	  <li> Phone Gap is used by some of these notable organizations:
	     <ul style="list-style-type:circle">
	       <li>Wikipedia</li>
	       <li>Facebook</li>
	       <li>IBM</li>
	       <li>Microsoft</li>
	       <li>Adobe</li>
	       <li>TimeWarner</li>
	       <li>The Onion</li>
	       <li>More information is available
		 <a href="http://www.tricedesigns.com/2012/03/27/who-uses-phonegapapache-cordova/">here</a></li>
	     </ul> 
	  </li>
	</ul>
	<br>
	
        
      </div>

      <div class="large-4 medium-4 columns">
        <div class="callout">
          <h5>More Reasources</h5>

	  <p>
	    The Phone Gap website is overflowing with everything that a budding mobile phone developer could use
	  </p>
          <a href="http://phonegap.com/" class="small button">Go to Phone Gap Website</a>
	  
	  <p>
	    Phone Gap, as it is open source, also has its own github
	  </p>
	  <a href="https://github.com/phonegap/" class="small button">Go to Phone Gap Github</a>
	  
	  <p>
	    Phone Gap is also active on various social media sites
	  </p>
	  <a href="https://twitter.com/phonegap?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="small button">Go to Phone Gap's twitter</a>
	  <br>
	  <a href="https://www.facebook.com/PhoneGap/" class="small button">Go to Phone Gap's Facebook Page</a>
	  
        </div>
      </div>
    </div>


    <hr>
    Created by Felix Rieg-Baumhauer, Misha Kotlik
    

    
    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/vendor/what-input.js"></script>
    <script src="../static/js/vendor/foundation.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
