<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Gap</title>
    <link rel="stylesheet" href="../static/css/foundation.css">
    <link rel="stylesheet" href="../static/css/app.css">
  </head>

  <!-- TOP BAR -->
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
	
	<li class="menu-text">Phone Gap</li>
	<li>
          <a href="#">One</a>
          <ul class="menu vertical">
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
	</li>
	<li><a href="#">Why Use Phone Gap</a></li>
	<li><a href="#">Three</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
	<li><input type="search" placeholder="Search"></li>
	<li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>
  <!-- END TOP BAR -->

  

  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>Why Phone Gap</h1>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="callout">
          <h3>The Reasons:</h3>
          <p>While you may allready knwo that Phone Gap is awesome, here are some reasons</p>

	  <center>
          <div class="row">
            <div class="large-4 medium-4 columns">
              <p>Only CSS, JS, and HTML are needed to create mobile apps
		<br>Why learn a new set of languages<br> </p>
            </div>
            <div class="large-4 medium-4 columns">
              <p>Using familiar tools alows for quick devolpment and rollout </p>
            </div>
            <div class="large-4 medium-4 columns">
              <p>Can be applied to a great breadth of mobile enviorments
		<br>(ios, android, even blackberry)</p>
            </div>
	    </center>
          </div>
        </div>
      </div>
    </div>



    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/vendor/what-input.js"></script>
    <script src="../static/js/vendor/foundation.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
